In [1]:
import pandas as pd
import numpy as np
from math import pi

In [2]:
data = pd.read_csv('measurement.csv',
                  sep=',',
                  names=['dist_true', 'theta_true', 'index_true', 'dist_pred', 'theta_pred', 'index_pred'])

In [3]:
data.head()

   dist_true  theta_true  index_true  dist_pred  theta_pred  index_pred
0    2.09657   -0.492733         0.0    2.18293   -0.462052         0.0
1    2.09657   -0.492725         0.0    2.18293   -0.462052         0.0
2    2.09657   -0.492724         0.0    2.18293   -0.462052         0.0
3    2.09657   -0.492720         0.0    2.18293   -0.462052         0.0
4    2.09657   -0.492699         0.0    2.18293   -0.462052         0.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5886 entries, 0 to 5885
Data columns (total 6 columns):
dist_true     5886 non-null float64
theta_true    5886 non-null float64
index_true    5886 non-null float64
dist_pred     5886 non-null float64
theta_pred    5886 non-null float64
index_pred    5886 non-null float64
dtypes: float64(6)
memory usage: 276.0 KB

## Distance data analysis

In [5]:
diff_distance = data['dist_true'] - data['dist_pred']
diff_distance = diff_distance.abs()

In [6]:
diff_distance.head()

0    0.08636
1    0.08636
2    0.08636
3    0.08636
4    0.08636
dtype: float64

In [7]:
diff_distance.tail()

5881    0.098964
5882    0.098964
5883    0.098964
5884    0.098963
5885    0.098963
dtype: float64

In [8]:
# difference less than or equal to 20 centimeters
diff_distance = (diff_distance < 0.2 )

In [9]:
diff_distance.value_counts()

True     5876
False      10
dtype: int64

## Theta data analysis

In [10]:
diff_theta = data['theta_true'] - data['theta_pred']
diff_theta = diff_theta.abs()

In [11]:
diff_theta.head()

0    0.030680
1    0.030672
2    0.030671
3    0.030667
4    0.030646
dtype: float64

In [12]:
diff_theta.tail()

5881    0.011139
5882    0.011113
5883    0.011113
5884    0.011107
5885    0.011103
dtype: float64

In [13]:
# difference less than or equal to 20 graus
radian = 20 * pi/180
diff_theta = (diff_theta < radian )

In [14]:
diff_theta.value_counts()

True     4731
False    1155
dtype: int64

## Index data analysis

In [15]:
diff_index = data['index_true'] - data['index_pred']
diff_index = diff_index.abs()

In [16]:
diff_index.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
dtype: float64

In [17]:
diff_index.tail()

5881    0.0
5882    0.0
5883    0.0
5884    0.0
5885    0.0
dtype: float64

In [18]:
diff_index = (diff_index == 0.0)

In [19]:
diff_index.value_counts()

True    5886
dtype: int64